<!doctype html>
<html class="no-js" lang="">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Double Pendulum</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#212121"/>
    <script src="https://cdn.jsdelivr.net/npm/qrcode@1.4.4/build/qrcode.min.js"></script>
    <script type="text/javascript" src="../../static/simulations/js/libraries/p5.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/qrcode@1.4.4/build/qrcode.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/1.6.0/p5.min.js" integrity="sha512-3RlxD1bW34eFKPwj9gUXEWtdSMC59QqIqHnD8O/NoTwSJhgxRizdcFVQhUMFyTp5RwLTDL0Lbcqtl8b7bFAzog==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="{{url_for('static', filename='simulations/js/double_pendulum/index.js')}}"></script>
    <script src="{{url_for('static', filename='simulations/js/double_pendulum/pendulum.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static', filename='simulations/css/simulations.css')}}">

</head>
<body>
<div id="controls" class="form-check form-check-lg">
    <button id="replay-btn">Replay</button>
    <p class="hide-when-small">Number of Pendulums:</p>
    <input class="hide-when-small" type="range" id="pendulum-count-slider" min="1" max="500" value="200">
    <p class="hide-when-small">Pendulums width:</p>
    <input class="hide-when-small" type="range" id="pendulum-width-slider" min="1" max="25" value="5">
    <p class="hide-when-small">Opacity: </p>
    <input class="hide-when-small" type="range" id="pendulum-opacity-slider" min="0" max="255" value="100">
    <p class="hide-when-small" >Show Inner Bobs: </p>
    <input class="hide-when-small" class="form-check-lg" type="checkbox" id="pendulum-show-inner-bobs">
    <p class="hide-when-small" >Show Outer Bobs: </p>
    <input class="hide-when-small" class="form-check-lg" type="checkbox" id="pendulum-show-outer-bobs">
<!--    <p>Show line:</p>-->
<!--    <input class="form-check-lg" type="checkbox" id="show-line-checkbox">-->
    <button id="reset-btn">Reset</button>
</div>

<div class="canvas-container">
    <div id="canvas"></div>
</div>

<img id="qr-code" src=""/>
<button id="qr-toggle-arrow">Share</button>
<!--<button id="record-btn">Start Recording</button>-->
<p id="copy-message" style="position: absolute; bottom: -20px; left: 10px; display: none;">Copied Link to clipboard</p>
</body>
</html>