
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coding Club</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.4.1/dist/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/index.css">
</head>
<body>
<div class="header">
    <div class="link">
        <button onclick="window.location.href='simulations/double-pendulum';">Double Pendulum</button>
    </div>
    <div class="link">
        <button onclick="window.location.href='simulations/bounce';">Bounce</button>
    </div>
    <div class="link">
        <button onclick="window.location.href='simulations/circular-projectiles';">Circular Projectiles</button>
    </div>
    <div class="link">
        <button onclick="window.location.href='simulations/gravity';">Gravitational bodies</button>
    </div>
    <div class="link">
        <button onclick="window.location.href='simulations/pendulum-tunnel';">Pendulum Tunnel</button>
    </div>
    <!-- <div class="link">
        <button onclick="window.location.href='https://jackrubiralta.github.io/sorting-visualizer/'">Sorting Algorithms</button>
    </div> -->
</div>
<div class="rod"></div>
<div class="coding-club">
<!--    <span style="&#45;&#45;string-height:25px" class="swingLeft">S</span>-->
<!--    <span style="&#45;&#45;string-height:25px" class="shift">P</span>-->
<!--    <span style="&#45;&#45;string-height:25px" class="shift">S</span>-->
<!--    <span style="&#45;&#45;string-height:50px" class="shift">-</span>-->
<!--    <span style="&#45;&#45;string-height:25px" class="shift">C</span>-->
<!--    <span style="&#45;&#45;string-height:6" class="swingLeft">C</span>-->
<!--    <span style="&#45;&#45;string-height:8" class="shift">o</span>-->
<!--    <span style="&#45;&#45;string-height:8" class="shift">d</span>-->
<!--    <span style="&#45;&#45;string-height:5" class="shift">i</span>-->
<!--    <span style="&#45;&#45;string-height:8" class="shift">n</span>-->
<!--    <span style="&#45;&#45;string-height:8" class="shift">g</span>-->
<!--    <span style="&#45;&#45;string-height:11" class="shift">-</span>-->
<!--    <span style="&#45;&#45;string-height:6" class="shift">C</span>-->
<!--    <span style="&#45;&#45;string-height:6" class="shift">l</span>-->
<!--    <span style="&#45;&#45;string-height:8" class="shift">u</span>-->
<!--    <span style="&#45;&#45;string-height:8" class="swingRight">b</span>-->

    <span style="--string-height:5" class="swingLeft">S</span>
    <span style="--string-height:5" class="shift">P</span>
    <span style="--string-height:5" class="shift">S</span>
    <span style="--string-height:5" class="shift">C</span>
    <span style="--string-height:5" class="shift">S</span>
    <span style="--string-height:5" class="swingRight">C</span>
</div>
<div>
    <h1>Saint Pauls School <s style="color:#ffbbbb">Co secant</s></h1>
    <h3>Computer Science Club</h3>

    <a href="signup">Sign up for Email list</a>
</div>
</body>
</html>


