{% extends "_base.html" %}
{% block content %}
<div class="rod"></div>
<div class="coding-club">
<!--    <span style="&#45;&#45;string-height:25px" class="swingLeft">S</span>-->
<!--    <span style="&#45;&#45;string-height:25px" class="shift">P</span>-->
<!--    <span style="&#45;&#45;string-height:25px" class="shift">S</span>-->
<!--    <span style="&#45;&#45;string-height:50px" class="shift">-</span>-->
<!--    <span style="&#45;&#45;string-height:25px" class="shift">C</span>-->
<!--    <span style="&#45;&#45;string-height:6" class="swingLeft">C</span>-->
<!--    <span style="&#45;&#45;string-height:8" class="shift">o</span>-->
<!--    <span style="&#45;&#45;string-height:8" class="shift">d</span>-->
<!--    <span style="&#45;&#45;string-height:5" class="shift">i</span>-->
<!--    <span style="&#45;&#45;string-height:8" class="shift">n</span>-->
<!--    <span style="&#45;&#45;string-height:8" class="shift">g</span>-->
<!--    <span style="&#45;&#45;string-height:11" class="shift">-</span>-->
<!--    <span style="&#45;&#45;string-height:6" class="shift">C</span>-->
<!--    <span style="&#45;&#45;string-height:6" class="shift">l</span>-->
<!--    <span style="&#45;&#45;string-height:8" class="shift">u</span>-->
<!--    <span style="&#45;&#45;string-height:8" class="swingRight">b</span>-->

    <span style="--string-height:5" class="swingLeft">S</span>
    <span style="--string-height:5" class="shift">P</span>
    <span style="--string-height:5" class="shift">S</span>
    <span style="--string-height:5" class="shift">C</span>
    <span style="--string-height:5" class="shift">S</span>
    <span style="--string-height:5" class="swingRight">C</span>
</div>
<div>
    <h1>St. Pauls School <s style="color:#ffbbbb">Co secant</s></h1>
    <h3>Computer Science Club</h3>
</div>


{% endblock %}